* {
    margin: 0;
    padding: 0;
}
html,
body {
    overflow-x: hidden;
}

/*Scroll bar nav*/
::-webkit-scrollbar {
    width: auto;
}

/* Track */
body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    outline: 1px solid lightgray;
}

a {
    text-decoration: none;
    color: #333;
}
img {
    border: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.form-control:focus {
    box-shadow: none;
}

@font-face {
    font-family: "kalpurushregular";
    src: url("../font/kalpurush.eot");
    src: url("../font/kalpurush.woff") format("woff"),
        url("../font/kalpurush.ttf") format("truetype"),
        url("../font/kalpurush.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "SolaimanLipi";
    src: url("../font/SolaimanLipi.eot");
    src: url("../font/SolaimanLipi.eot?#iefix") format("embedded-opentype"),
        url("../font/SolaimanLipi.woff") format("woff"),
        url("../font/SolaimanLipi.ttf") format("truetype"),
        url("../font/SolaimanLipi.svg#Levenim") format("svg");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    font-family: "SolaimanLipi", Arial, sans-serif !important;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.fs-7 {
    font-size: 0.9rem;
}
.fs-8 {
    font-size: 0.8rem;
}
.fs-9 {
    font-size: 0.7rem;
}
.fs-10 {
    font-size: 0.6rem;
}

.wrapper {
    width: 100%;
    min-height: 70vh;
}

.page-wrapper {
    top: 86px;
    position: relative;
}

.innerpage-container {
    top: 86px;
    position: relative;
    min-height: 73vh;
}

.service_status_search {
    margin: 0px auto;
}

.homepage-header {
    width: 100%;
    height: 86px;
    position: fixed;
    border-bottom: 1px solid #999 !important;
    box-shadow: 0px 1px 5px #00000080 !important;
    top: 0;
    left: 0px;
    z-index: 10;
    background: #fff;
}

.header-left {
    width: 100%;
    height: 86px;
    padding: 13px 20px 13px 90px;
}

.home-page-logo {
    width: 314px;
    height: 60px;
    display: inline-block;
    background-image: url("../img/home/logo.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top left;
}

.header-right {
    width: 100%;
    height: 86px;
    padding: 28px 90px 28px 20px;
}

.nav-container {
    display: block;
    width: 100%;
}

nav {
    height: 30px;
    display: flex;
}

.top-nav {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.top-nav li {
    line-height: 30px;
    list-style: none;
    padding: 5px 15px;
    /* border-right: 1px solid #bdbdbd; */
}

.top-nav li:last-child,
.top-nav-right li:last-child {
    border: none;
}

.top-nav-right {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
    /* border-right: 1px solid #bdbdbd; */
}

.top-nav-right li {
    line-height: 30px;
    list-style: none;
    padding: 0px 0px 0px 10px;
    /* border-right: 1px solid #bdbdbd; */
}

.top-nav li a,
.top-nav-right li a {
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    color: #000;
}

.top-nav-right .helpline {
    background-color: #d0edd2;
    height: 30px;
    color: #000;
    padding: 0px 25px;
    border: none;
    border-radius: 20px;
}

.helpline-header{
	background-color:#efefef;
	line-height:1.8;
}

.color-primary{
	color:#0b8916;
}

.top-nav-right .registration {
    background-color: #d0edd2;
    height: 30px;
    color: #000;
    padding: 0px 25px;
    border: none;
    border-radius: 20px;
}

.top-nav-right .login {
    height: 30px;
    background-color: #13a31f;
    border: none;
    color: #fff;
    padding: 0px 25px;
    border-radius: 20px;
}

.top-nav-right .user-menu .dropdown {
    padding: 0px;
    margin: 0px;
}

.top-nav-right .dropdown .dd-user-menu {
    border: none;
    background: none;
}

.top-nav-right .dd-user-menu .profile-img {
    width: 32px;
    height: auto;
    border-radius: 50%;
}

.user-menu .user-name {
    padding-right: 5px;
}

.user-menu .dropdown-menu .dropdown-item {
    font-weight: normal;
    font-size: 15px;
}

.user-menu .dropdown-menu .dropdown-item .fas {
    padding-right: 8px;
}

/**Home page search*/
.search-container {
    width: 100%;
    height: 48px;
    display: flex;
    margin-top: 50px;
    padding: 0px;
    border-bottom: 1px solid #b44c4d;
}

.search-container .search-key {
    width: 100%;
    height: 47px;
    margin: 0px;
    border: none;
    /* box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px; */
    padding: 8px 10px;
    font-size: 17px;
    color: #000000;
    opacity: 0.9;
}

.search-container .button-site-search {
    /* background-color: #fff; */
    padding: 8px 15px;
    margin-left: -47px;
    border: none;
    opacity: 0.8;
}

/**Page Footer*/
.page-footer {
    width: 100%;
    /* display: flex;
    flex-direction: row; */
    background-color: #f8e4e3;
    padding: 35px 0px;
    border-top-left-radius: 50px 50px;
    border-top-right-radius: 50px 50px;
    margin-top: 70px;
}

.footer-left-block {
    width: 100%;
    text-align: center;
}

.footer-middle-block {
    width: 100%;
    text-align: center;
}

.footer-right-block {
    width: 100%;
    text-align: center;
}

.footer-block {
    display: grid;
    align-content: space-evenly;
}

.footer-block .text-label {
    color: #303030;
    font-size: 17px;
}

.footer-top-right nav {
    height: 53px;
    display: flex;
}

.footer-nav {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.footer-nav li {
    line-height: 2.5em;
    list-style: none;
    /* padding: 5px 15px; */
    padding: 0.5em 0.7em;
    color: #303030;
}

.footer-nav li a,
.footer-nav li a:link {
    color: #303030;
    font-size: 17px;
}

.footer-nav li a:hover {
    color: #000aff;
    text-decoration: none;
}

.footer-nav li a:active {
    color: #000aff;
    text-decoration: none;
}
/**Footer End*/

/**Home Page:Start*/
.homepage-banner {
    height: 422px;
    max-width: 100%;
    background-image: url("../img/home/banner_bg.png");
    margin: 0 auto;
    display: flex;
}

.homepage-banner .banner-left {
    width: 100%;
    padding: 100px 20px 100px 90px;
}

.homepage-banner .banner-left .slide-title {
    font-size: 45px;
    line-height: 55px;
    color: #0b8916;
}

.homepage-banner .banner-right {
    width: 100%;
}

.homepage-banner img {
    max-width: 100%;
    height: 422px;
    float: right;
}

.page-container2 {
    width: 100%;
    height: auto;
    margin: 0px auto 0px;
    padding-bottom: 30px;
    background: url("../img/home/services_bg.png") #f7f7f7;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom-left-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
}

.page-content {
    width: 90%;
    height: auto;
    position: relative;
    margin: 0px auto;
    padding: 50px 0px 0px;
}

.page-container2 .services-header {
    width: 100%;
    height: 145px;
    padding: 35px 0px 35px 95px;
    background-image: url("../img/home/service_title_bg.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    margin-left: -6%;
}

.page-container2 .services-header h2.block-header2 {
    width: 100%;
    height: 75px;
    margin: 0px;
    font-size: 30px;
    font-weight: normal;
    color: #303030;
    text-align: left;
    padding-top: 10px;
}

.title-left {
    padding-right: 15px;
}

.title-right {
    padding-left: 15px;
}

.service-block-container {
    width: 100%;
    min-height: 615px;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; */
    padding: 0%;
}

.service-block-hide {
    background-color: none;
}

.service-block {
    margin: 0px 0px 25px 0px;
    padding: 0px;
    background-color: #ffffff;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
}

.service-block-header {
    width: 100%;
    display: flex;
    padding: 15px 15px;
}

.service-block-header .service-logo {
    width: 40px;
    height: auto;
}

.service-block-header h2 {
    font-size: 20px;
    line-height: 33px;
    vertical-align: middle;
    padding-left: 8px;
}

.service-block .service-list {
    margin: 0px;
    padding: 0px 0px 20px 30px;
}

.service-block .service-list .service-item {
    list-style: disc;
    padding: 0px;
    margin: 0px 0px 0px 30px;
}

.service-list .service-item a {
    font-size: 16px;
    font-weight: normal;
    color: #303030;
    line-height: 25px;
}

#service-lists {
    padding: 0 !important;
}

.my-search-input {
    margin-top: 10px;
}

.service-item-citizen {
    font-weight: 600;
    background-color: lightgreen;
    padding: 5px 10px;
    margin-top: 10px;
}

.service-item-gov {
    font-weight: 600;
    background-color: lightblue;
    padding: 5px 10px;
}

.service-list .service-item a:hover {
    color: #000aff;
    font-weight: 500;
}

/**Categorywise Service Block*/
.category-wise-service-block-container {
    display: flex;
    width: 100%;
    margin: 10px 0px 30px;
    padding: 0px;
}

.inportant-service-and-info-block {
    width: 90%;
    margin: 50px auto;
    padding: 0px;
}

.category-wise-service-list {
    width: 49%;
    margin: 0px;
    padding: 0px;
    border: 0.25px solid #bdbdbd;
    box-sizing: border-box;
    box-shadow: 0px 0.25px 4px rgba(0, 0, 0, 0.25);
}

.block-left {
    margin-right: 2%;
}

.inportant-service-and-info-block .service-header {
    color: #303030;
    font-size: 30px;
    font-weight: normal;
    line-height: 50px;
    text-align: center;
}

.inportant-service-and-info-block .service-list {
    width: 100%;
    display: flex;
    padding: 10px;
}

.service-item .service-item-icon {
    width: 90px;
    height: auto;
    margin: 0px auto;
}

.readmore-container {
    display: block;
    width: 100%;
    text-align: right;
    padding: 0px 25px 25px 0px;
}

.readmore-container .readmore {
    padding: 8px 20px;
    background: #29a74a;
    box-shadow: 0px 0.25px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #ffffff;
}

.inportant-service-and-info-block .service-list .service-item {
    width: 20%;
    height: 275px;
    background: url("../img/home/doptor_count_bg.png") top left no-repeat;
    padding: 50px 0px;
    margin: 0px 1%;
    display: grid;
    align-content: space-around;
    text-align: center;
}

/*Responsive: Important Service Block*/
@media (max-width: 992px) {
    /*header part: start*/
    .header-left {
        padding: 13px 10px 13px 10px;
    }

    .header-right {
        padding: 28px 10px 28px 10px;
    }
    /*header part:end*/

    /*home banner:start*/
    .homepage-banner {
        height: 300px;
    }

    .homepage-banner .banner-left {
        width: 100%;
        padding: 20px 30px;
    }

    .homepage-banner img {
        max-width: 100%;
        height: 300px;
    }

    .homepage-banner .banner-left .slide-title {
        font-size: 2.4em;
        line-height: 1.5em;
        color: #0b8916;
    }

    .search-container {
        margin-top: 1.5em;
    }
    /*home banner: end*/

    .page-content {
        padding-top: 20px;
    }

    .inportant-service-and-info-block .service-list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .inportant-service-and-info-block .service-list .service-item {
        width: 30%;
        margin-bottom: 20px;
    }

    /*footer: start*/
    .page-footer {
        padding: 30px 0px;
    }

    .footer-nav li {
        line-height: 1.3em;
        padding: 0.5em 0.4em;
    }

    /* .partner-logo-right img {
        width: 80%;
    } */
    /*footer: end*/
}

@media (max-width: 768px) {
    /*header part: start*/
    .header-left {
        padding: 13px 10px 13px 10px;
    }

    .header-right {
        padding: 28px 10px 28px 10px;
    }
    /*Header part:end*/

    .homepage-banner {
        height: 250px;
    }

    .homepage-banner .banner-left {
        width: 100%;
        padding: 20px 25px;
    }

    .homepage-banner .banner-left .slide-title {
        font-size: 2.5em;
        line-height: 1.5em;
        color: #0b8916;
    }

    .search-container {
        margin-top: 1.5em;
    }

    .page-content {
        padding-top: 20px;
    }

    .inportant-service-and-info-block .service-list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .inportant-service-and-info-block .service-list .service-item {
        width: 48%;
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    /*header part: start*/
    .homepage-header {
        width: 100%;
        height: 70px;
    }

    .header-left {
        width: 100%;
        height: 70px;
        padding: 10px;
    }

    .home-page-logo {
        width: 100%;
        height: 100%;
    }

    .header-right {
        width: 100%;
        height: 70px;
        padding: 20px 10px;
    }

    .top-nav-right .registration,
    .top-nav-right .login {
        padding: 0px 15px;
    }

    /*Home banner: start*/
    .homepage-banner {
        height: 200px;
    }

    .homepage-banner .banner-left {
        width: 100%;
        padding: 20px;
    }

    .homepage-banner .banner-left .slide-title {
        font-size: 1.5em;
        line-height: 1.6em;
        color: #0b8916;
    }

    .search-container {
        margin-top: 1.5em;
    }

    .page-content {
        padding-top: 20px;
    }

    /*important service block:start*/
    .inportant-service-and-info-block .service-list {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .inportant-service-and-info-block .service-list .service-item {
        width: 100%;
        background: url("../img/home/doptor_count_bg.png") center no-repeat;
        margin-bottom: 20px;
    }
    /*important service block:end*/
}
/**Home Page: End*/

/**Login page modal: start*/
#loginModal > div {
    max-width: 400px;
}

.modal-content {
    width: 100%;
    display: block;
    padding: 20px 35px;
}

.modal-title {
    font-size: 20px;
}

.close {
    background: none;
    color: #242725;
}

.btn-login {
    width: 100%;
    display: block;
    color: #dedede;
    font-size: 18px;
    font-weight: 700;
    border-radius: 4px;
    padding: 15px;
    border: none;
}

a.btn-login {
    cursor: pointer;
}

a.btn-login:hover {
    color: #ffffff;
}

.btn-beneficiary {
    background-color: #0c0280;
}
.btn-govt-employee {
    background-color: #29a74a;
}
/**Modal:end*/

/**Inner Page Start*/
.inner-page-header {
    width: 100%;
    height: 53px;
    display: flex;
}

.innerpage-nav-container {
    display: flex;
    width: 100%;
    height: 53px;
    padding: 0px;
}

.top-nav-left {
    width: 25%;
    padding: 7px 20px 7px 45px;
    justify-content: flex-start;
}

.inner-page-logo {
    width: 100%;
    height: 39px;
}

.innerpage-nav-container nav {
    display: flex;
    width: 75%;
    height: 39px;
    align-content: flex-end;
}

.top-nav-right .dropdown {
    height: 39px;
    padding: 7px 30px 7px 20px;
}

.top-nav-right #dropdownMenuButton {
    height: 39px;
    box-shadow: none;
    /* background: #ffffff;
    box-shadow: inset 0px 0.25px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px; */
}

.innerpage-nav-container .top-nav-right {
    border-right: none;
}

.innerpage-banner {
    height: 314px;
    max-width: 100%;
    background-color: #d4d0d0;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.innerpage-banner img {
    width: 100%;
    /* height: 314px; */
}

.innerpage-logo-container {
    width: 330px;
    height: 33px;
    position: absolute;
    left: 15%;
    top: 20%;
    transform: translate(-15%, 0%);
    display: flex;
    flex-direction: row;
}

.innerpage-logo {
    width: 100%;
}

.innerpage-search-container {
    height: 61px;
    background-color: #29a74a;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 0%);
    padding: 13px 30px;
    display: flex;
    flex-direction: row;
}

.innerpage-search {
    width: 100%;
    align-content: space-between;
}

.innerpage-search .search-icon {
    width: 30px;
    height: 30px;
    border: none;
    padding-right: 5px;
}

.innerpage-search .search-key {
    padding: 5px;
    min-width: 400px;
    height: 35px;
}

.search-text {
    color: #ffffff;
}

.innerpage-search .button-innerpage-search {
    background: #ed1c24;
    padding: 0px 30px;
    color: #ffffff;
    font-size: 14px;
    line-height: 35px;
    border: none;
    margin-left: -2px;
}

.inner-page-container {
    width: 90%;
    min-height: 73vh;
    position: relative;
    margin: 0px 5%;
    padding-bottom: 50px;
}

.breadcrumb {
    width: 100%;
    height: 30px;
    padding: 5px 15px;
    margin: 10px 0px;
    font-size: 12px;
    background: none;
}

.innerpage-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page-header {
    width: 100%;
    display: block;
    margin: 20px 0px;
    border-bottom: 2px solid #ccc;
}

/*Service list*/
.service-category-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.service-category-list > li > div.service-category {
    /* background: #dbeef8; */
    border-bottom: 3px solid #29a74a;
    padding: 7px 8px 7px 5px;
    cursor: pointer;
    /* margin-bottom: 3px; */
}

.service-category-list li.active .service-category {
    background-color: #29a74a;
    border-bottom: 3px solid #ff0101;
    color: #ffffff;
}

.service-category-list li.inactive ul {
    display: none;
}
.service-category-list li ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.service-category-list li ul li i {
    margin-right: 7px;
}
.service-category-list li ul li a {
    padding: 5px 5px 5px 15px;
    display: block;
    border-bottom: 1px solid #ccc;
}
.service-category-list li ul li:last-child a {
    border: 0;
}
.service-category-list li ul li a:hover,
.service-category-list li ul li a.active {
    /* background-color: #29a74a; */
    border-bottom: 3px solid #ff0101;
    color: #000aff;
}

.office-list-title {
    background: #dbeef8;
    border-bottom: 2px solid #9cd1ed;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 3px;
}
.service-list-title {
    background: #dbeef8;
    border-bottom: 2px solid #9cd1ed;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 3px;
}

.my-search {
    padding: 7px;
}
.my-search-list {
}
.my-search-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.my-search-list li {
}
.my-search-list li:first-child a {
    margin-top: 7px;
}
.my-search-list li a {
    padding: 5px 5px;
    display: block;
}
.fa,
.fab,
.fad,
.fal,
.far,
.fas {
    line-height: inherit;
}
.my-search-list li a .sl {
    margin-right: 7px;
    width: 20px;
    display: inline-block;
}
.my-search .origin-list li a:hover,
.my-search .origin-list li a.active {
    background-color: #29a74a;
    border-bottom: 0.25px solid #000000;
    color: #ffffff;
}

.my-search-list li a:active,
.my-search-list li a:hover {
    color: #0a58ca;
}

/* .my-search .origin-list li a {
    position: relative;
}

.my-search .origin-list li a:after {
    content: "\f054";
    font-family: FontAwesome;
    font-style: normal;
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 0;
    right: 0;
} */

.office-level {
    margin-bottom: 7px;
}

.common-service-information {
}
.common-service-information ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.common-service-information ul li {
    padding: 7px 0px;
    display: block;
}
/*Service list*/

/**Auto complete*/
.easy-autocomplete {
    /* min-width: 400px; */
    min-width: 100%;
    margin: 0px;
}

.innerpage-search-form {
    display: flex;
}

/**Search Page*/
.service-search-result {
    margin-top: 30px;
    min-height: 200px;
}

.service-search-result .search-header {
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: 20px;
    color: #000000;
}

.service-search-result ul {
    margin: 0px;
    padding: 0px;
}

.service-search-result ul li {
    list-style: none;
}

.service-search-result ul li a {
    color: #000aff;
    font-size: 18px;
}

.service-search-note {
    display: block;
    width: 100%;
    padding: 10px 0px 10px 20px;
}

.service-search-note span {
    margin-right: 30px;
    font-size: 0.9rem;
}
